[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
python-telegram-bot = "*"
peewee = "==2.10.2"
feedparser = "*"
python-dateutil = "*"
python-dotenv = "*"
supycache = "*"
psycopg2 = "*"
marshmallow = "*"

[dev-packages]
